# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

version: 2
updates:
- package-ecosystem: nuget
  directory: "/packages/web-workers"
  schedule:
    interval: monthly
    day: tuesday
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
  open-pull-requests-limit: 10
  labels:
  - "category: engineering"
  - dependencies
  commit-message:
    prefix: chore
    include: scope
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
    day: tuesday
    time: "11:00"
    timezone: "America/Los_Angeles" # Pacific Time
  open-pull-requests-limit: 30
  labels:
  - "category: engineering"
  - dependencies
  commit-message:
    prefix: chore
    include: scope
  versioning-strategy: increase
  ignore:
    # Major version of @types/node is pinned to match the version of node we
    # use for builds (ideally, latest LTS)
  - dependency-name: "@types/node"
    versions:
    - ">= 16.0.0"
  - dependency-name: normalize-url
    versions:
    - "> 6.1.0"
  - dependency-name: filenamify-url
    versions:
    - "> 2.1.2"
  - dependency-name: "@sindresorhus/fnv1a"
    versions:
    - "> 2.0.1"
  - dependency-name: filenamify
    versions:
    - "> 4.3.0"
  - dependency-name: serialize-error
    versions:
    - "> 8.1.0"
  - dependency-name: node-fetch
    versions:
    - "> 2.6.7"
    # Newest versions of eslint* will not work with VS Code ESLint extension
  - dependency-name: eslint
    versions:
    - "> 7.32.0"
  - dependency-name: eslint-plugin-jsdoc
    versions:
    - "> 38.1.6"
  - dependency-name: eslint-plugin-jest
    versions:
    - "> 26.9.0"
