# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

node_modules/
node_modules*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

dist/
drop/
test-results/
out/
crawler_storage/
/data*
ai_scan_cli_output*
codecov
codecov.*

**/.secrets
**/dev.DockerFile
**/.env
**/.prod
**/*.generated.template.json
**/*.DS_Store
**/bin
**/obj

yarn-error.log
