# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
node_modules/
dist/
drop/
test-results/
out/
crawler_storage/

**/.secrets
**/dev.DockerFile
**/.env
**/.prod

**/*.generated.template.json

yarn-error.log
**/*.DS_Store

**/bin
**/obj
