# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
.gitattributes
.github
.prettierignore
LICENSE
yarn.lock
.dockerignore

**/*.code-workspace
**/Dockerfile
**/*.Dockerfile
**/.gitignore
test-results/
**/obj/
**/bin/
**/*.dat
**/*.png
**/*.sh
**/*.pbix
dist/
**/*.code-workspace
**/*.env
**/.env.*
**/yarn-*.log
**/*.ts.snap
copyright-header.txt
**/.DS_Store
**/.funcignore
**/extensions.csproj
**/crawler_storage/
**/ai_scan_cli_output/
