.gitattributes
.github
.prettierignore
LICENSE
yarn.lock

**/*.code-workspace
**/Dockerfile
**/*.Dockerfile
**/.gitignore
test-results/
**/obj/
**/bin/
**/*.dat
**/*.sh
**/*.pbix
dist/
**/*.code-workspace
**/*.env
**/.env.*
**/yarn-*.log
**/*.ts.snap
copyright-header.txt
**/.DS_Store
**/.funcignore
